## Configuration for AWS ParallelCluster
[global]
cluster_template = sc19-cluster
update_check = true
sanity_check = true

[aws]
aws_region_name = us-east-1

[aliases]
ssh = ssh {CFN_USER}@{MASTER_IP} {ARGS}

[cluster sc19-cluster]
key_name = aws_rsa
vpc_settings = sc19-vpc
base_os = centos7
compute_instance_type = c5n.18xlarge
master_instance_type = c5n.18xlarge
enable_efa = compute
initial_queue_size = 2
max_queue_size = 15
maintain_initial_size = false
scheduler = slurm
cluster_type = ondemand
#custom_ami = NONE
compute_root_volume_size = 40
master_root_volume_size = 100
placement = cluster
placement_group = DYNAMIC
#pre_install = NONE
scaling_settings = custom
ephemeral_dir=/scratch
encrypted_ephemeral = false
fsx_settings = lustre
shared_dir = cluster_tmp
#ec2_iam_role =

[fsx lustre]
shared_dir = /shared
storage_capacity = 3600

[vpc sc19-vpc]
vpc_id = vpc-04eed5b69c8dd08eb
master_subnet_id = subnet-014bd05c3efaeea6b
compute_subnet_id = subnet-001c2fd8d029fb08e
use_public_ips = false

[scaling custom]
scaledown_ideltime = 30
